# 1. Monthly S2-indices for 2017 (DONE)

- Calculate monthly mean
- Interpolate monthly (linear)
- Join all indices into a single file

In [1]:
import pandas as pd

In [2]:
%%time

suff = "savi"
        
src_pth = f".\\results_extracted\\ZV2017_extracted_{suff}.csv"

df0 = pd.read_csv(src_pth)
df0.tail(3)

Wall time: 1.29 s

,id_17,savi_04-11,savi_04-21,savi_05-01,savi_05-11,savi_05-21,savi_05-31,savi_06-10,savi_06-20,savi_06-30,savi_07-10,savi_07-20,savi_07-30,savi_08-09,savi_08-19,savi_08-29,savi_09-08,savi_10-08,savi_10-18
664135,664135,NaN,0.599954,NaN,NaN,0.680104,NaN,0.486041,NaN,NaN,NaN,0.586199,0.315427,0.454569,NaN,NaN,NaN,NaN,NaN
664136,664136,NaN,0.672257,NaN,NaN,0.733093,NaN,0.669931,NaN,NaN,0.416259,0.475300,NaN,0.442558,NaN,0.527766,NaN,NaN,NaN
664137,664137,NaN,0.724663,NaN,NaN,0.753205,NaN,0.702195,NaN,NaN,0.436823,0.469680,NaN,0.569490,NaN,0.526860,NaN,NaN,NaN

In [3]:
%%time

suffs = ["evi2", "ndvi", "ndwi", "savi"]

# Merge all 4 indices into a single file
new_dfs = []
for suff in suffs:
    df = pd.read_csv(f".\\results_extracted\\ZV2017_extracted_{suff}.csv")
    df = df.drop(columns=["id_17"])
        
    for month in range(4, 11):
        # Find columns containing current band and month
        tmp_cols = [col for col in df.columns if f"{suff}_{month:02}" in col]

        # Append new column name to the list of mean columns
        new_col = f"{suff}_{month:02}"

        # Calculate nanmean
        df[new_col] = df[tmp_cols].mean(axis=1)
        df = df.drop(columns=tmp_cols)
        
    # Interpolate missing values
    df = df.interpolate(limit_direction="both", axis=1)
    
    # Append to list for concating
    new_dfs.append(df)
    
df = pd.concat(new_dfs, axis=1)

# Add the "id_17" index column
df = df.reset_index()
df = df.rename(columns={"index": "id_17"})

df.tail(2)

Wall time: 3min 57s

,id_17,evi2_04,evi2_05,evi2_06,evi2_07,evi2_08,evi2_09,evi2_10,ndvi_04,ndvi_05,...,ndwi_08,ndwi_09,ndwi_10,savi_04,savi_05,savi_06,savi_07,savi_08,savi_09,savi_10
664136,664136,0.707414,0.797253,0.707885,0.432088,0.483186,0.483186,0.483186,0.879573,0.900252,...,-0.419017,-0.419017,-0.419017,0.672257,0.733093,0.669931,0.445779,0.485162,0.485162,0.485162
664137,664137,0.779873,0.827327,0.751983,0.439646,0.549786,0.549786,0.549786,0.913037,0.901425,...,-0.503946,-0.503946,-0.503946,0.724663,0.753205,0.702195,0.453251,0.548175,0.548175,0.548175

In [4]:
df.to_csv(f".\\results_monthly\\ZV2017_s2-indices_monthly.csv", index=False)

# 2. Monthly S2-rgbn for 2017 (DONE)

- calculate monthly mean
- interpolate (linear interpolation because each mean month is one data point)

In [ ]:
import pandas as pd

In [5]:
%%time

src_pth = f".\\results_extracted\\ZV2017_extracted_s2-rgbn.csv"

df0 = pd.read_csv(src_pth)

Wall time: 10.8 s

In [6]:
df0.isnull().values.sum()

46619644

In [7]:
df0

,id_17,blue_04_01,green_04_01,red_04_01,nir_04_01,blue_04_11,green_04_11,red_04_11,nir_04_11,blue_04_21,...,red_10_18,nir_10_18,blue_10_23,green_10_23,red_10_23,nir_10_23,blue_10_28,green_10_28,red_10_28,nir_10_28
0,0,0.085712,0.103162,0.098332,0.262934,NaN,NaN,NaN,NaN,0.079901,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.111312,0.131752,0.152500,0.221486,NaN,NaN,NaN,NaN,0.092930,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0.082948,0.102187,0.094472,0.290126,NaN,NaN,NaN,NaN,0.085056,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,0.088406,0.100355,0.097155,0.296451,NaN,NaN,NaN,NaN,0.079163,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0.082925,0.097238,0.080722,0.329627,0.085093,0.100082,0.080912,0.33729,0.074644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
664133,664133,0.075792,0.088589,0.083072,0.365609,NaN,NaN,NaN,NaN,0.067071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664134,664134,0.090231,0.103857,0.103224,0.365654,NaN,NaN,NaN,NaN,0.080756,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664135,664135,0.072073,0.082949,0.077704,0.342441,NaN,NaN,NaN,NaN,0.067409,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664136,664136,0.072300,0.083633,0.075527,0.311218,NaN,NaN,NaN,NaN,0.061263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664137,664137,0.063442,0.075768,0.057569,0.352208,NaN,NaN,NaN,NaN,0.059380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
%%time

df = pd.read_csv(f".\\results_extracted\\ZV2017_extracted_s2-rgbn.csv")

bands = ["blue", "green", "red", "nir"]

new_cols = []
for band in bands:
    for month in range(4, 11):
        # Find columns containing current band and month
        tmp_cols = [col for col in df.columns if f"{band}_{month:02}" in col]

        # Create new column (monthly aggregat)
        new_col = f"{band}_{month:02}"
        new_cols.append(new_col)

        # Calculate nanmean
        df[new_col] = df[tmp_cols].mean(axis=1)
        df = df.drop(columns=tmp_cols)
        
    # Interpolate missing values
    df[new_cols] = df[new_cols].interpolate(limit_direction="both", axis=1)

# Add the "id_17" index column
#df = df.reset_index()
#df = df.rename(columns={"index": "id_17"})

df.tail(2)

Wall time: 3min 35s

,id_17,blue_04,blue_05,blue_06,blue_07,blue_08,blue_09,blue_10,green_04,green_05,...,red_08,red_09,red_10,nir_04,nir_05,nir_06,nir_07,nir_08,nir_09,nir_10
664136,664136,0.066782,0.050825,0.071966,0.108109,0.155468,0.058543,0.058543,0.079301,0.077471,...,0.136165,0.032936,0.032936,0.389698,0.548877,0.482894,0.351130,0.397565,0.414858,0.414858
664137,664137,0.061411,0.052463,0.067871,0.113630,0.132084,0.059198,0.059198,0.074828,0.080077,...,0.085451,0.032131,0.032131,0.432968,0.577999,0.513688,0.412181,0.384635,0.475493,0.475493

In [9]:
# Save to csv
df.to_csv(f".\\results_monthly\\ZV2017_s2-rgbn_monthly.csv", index=False)

# 3. Monthly S1-slc for 2017 (DONE)

- interpolate (not needed, no NaN values exist)
- calculate monthly mean

In [ ]:
import pandas as pd

In [10]:
%%time
src_pth = f".\\results_extracted\\ZV2017_extracted_s1-slc.csv"
df0 = pd.read_csv(src_pth)

Wall time: 45.5 s

In [11]:
df0.head(3)

,id_17,SIG_ASC_VH_04_01,SIG_ASC_VV_04_01,SIG_DES_VH_04_01,SIG_DES_VV_04_01,COH_ASC_VH_04_01,COH_ASC_VV_04_01,COH_DES_VH_04_01,COH_DES_VV_04_01,SIG_ASC_VH_04_07,...,COH_DES_VH_10_22,COH_DES_VV_10_22,SIG_ASC_VH_10_28,SIG_ASC_VV_10_28,SIG_DES_VH_10_28,SIG_DES_VV_10_28,COH_ASC_VH_10_28,COH_ASC_VV_10_28,COH_DES_VH_10_28,COH_DES_VV_10_28
0,0,0.012960,0.049032,0.017566,0.082925,0.416099,0.643440,0.556954,0.665085,0.010432,...,0.507982,0.524422,0.031385,0.183504,0.027705,0.180794,0.689269,0.752774,0.580919,0.686584
1,1,0.009604,0.055644,0.015535,0.110480,0.335783,0.653498,0.555875,0.705461,0.007064,...,0.460377,0.570117,0.036393,0.204009,0.029903,0.234453,0.740559,0.745909,0.585225,0.734621
2,2,0.013257,0.041989,0.016532,0.051712,0.517126,0.613033,0.466614,0.538190,0.010822,...,0.433481,0.440421,0.018985,0.109362,0.017518,0.079535,0.577215,0.682407,0.377640,0.448435

In [12]:
%%time

df = pd.read_csv(f".\\results_extracted\\ZV2017_extracted_s1-slc.csv")

bands = ["SIG_ASC_VH", "SIG_ASC_VV", "SIG_DES_VH", "SIG_DES_VV",
         "COH_ASC_VH", "COH_ASC_VV", "COH_DES_VH", "COH_DES_VV"]

new_cols = []
for band in bands:
    for month in range(4, 11):
        # Find columns containing current band and month
        tmp_cols = [col for col in df.columns if f"{band}_{month:02}" in col]

        # Create new column (monthly aggregat)
        new_col = f"{band}_{month:02}"
        new_cols.append(new_col)

        # Calculate nanmean
        df[new_col] = df[tmp_cols].mean(axis=1)
        df = df.drop(columns=tmp_cols)
        
    # Interpolate missing values
    df[new_cols] = df[new_cols].interpolate(limit_direction="both", axis=1)

df.tail(2)

Wall time: 3min 49s

,id_17,SIG_ASC_VH_04,SIG_ASC_VH_05,SIG_ASC_VH_06,SIG_ASC_VH_07,SIG_ASC_VH_08,SIG_ASC_VH_09,SIG_ASC_VH_10,SIG_ASC_VV_04,SIG_ASC_VV_05,...,COH_DES_VH_08,COH_DES_VH_09,COH_DES_VH_10,COH_DES_VV_04,COH_DES_VV_05,COH_DES_VV_06,COH_DES_VV_07,COH_DES_VV_08,COH_DES_VV_09,COH_DES_VV_10
664136,664136,0.008411,0.009476,0.009543,0.008620,0.008654,0.009029,0.008675,0.022958,0.024094,...,0.277326,0.292204,0.299877,0.301100,0.293353,0.291912,0.305654,0.313895,0.312539,0.297387
664137,664137,0.007786,0.008193,0.007560,0.007338,0.007564,0.006927,0.007026,0.015487,0.021334,...,0.303852,0.278109,0.298132,0.327796,0.316533,0.280451,0.344109,0.311934,0.313597,0.328143

In [13]:
# Save to csv
df.to_csv(f".\\results_monthly\\ZV2017_s1-slc_monthly.csv", index=False)

# 4. Monthly S2-indices for 2018 (DONE)

- Calculate monthly mean
- Interpolate monthly (linear)
- Join all indices into a single file

In [ ]:
import pandas as pd

In [14]:
%%time

suff = "ndvi"
        
src_pth = f".\\results_extracted\\ZV2018_extracted_{suff}.csv"

df0 = pd.read_csv(src_pth)
df0.tail(3)

Wall time: 4.9 s

,id_18,ndvi_04_01,ndvi_04_06,ndvi_04_11,ndvi_04_16,ndvi_04_21,ndvi_04_26,ndvi_05_01,ndvi_05_06,ndvi_05_11,...,ndvi_09_13,ndvi_09_18,ndvi_09_23,ndvi_09_28,ndvi_10_03,ndvi_10_08,ndvi_10_13,ndvi_10_18,ndvi_10_23,ndvi_10_28
680695,680695,NaN,0.362106,NaN,NaN,0.678596,NaN,NaN,NaN,0.377683,...,NaN,0.685558,NaN,0.680902,0.671604,NaN,NaN,NaN,NaN,NaN
680696,680696,NaN,0.525302,NaN,NaN,0.702321,NaN,NaN,NaN,0.687092,...,0.293147,0.784263,NaN,0.791756,0.778464,NaN,NaN,NaN,0.743478,NaN
680697,680697,NaN,0.807609,NaN,NaN,0.819370,NaN,NaN,NaN,0.840772,...,NaN,0.854973,NaN,0.861242,0.824095,NaN,NaN,NaN,0.786069,NaN

In [15]:
%%time

suffs = ["evi2", "ndvi", "ndwi", "savi"]

# Merge all 4 indices into a single file
new_dfs = []
for suff in suffs:
    df = pd.read_csv(f".\\results_extracted\\ZV2018_extracted_{suff}.csv")
    df = df.drop(columns=["id_18"])
        
    for month in range(4, 11):
        # Find columns containing current band and month
        tmp_cols = [col for col in df.columns if f"{suff}_{month:02}" in col]

        # Append new column name to the list of mean columns
        new_col = f"{suff}_{month:02}"

        # Calculate nanmean
        df[new_col] = df[tmp_cols].mean(axis=1)
        df = df.drop(columns=tmp_cols)
        
    # Interpolate missing values
    df = df.interpolate(limit_direction="both", axis=1)
    
    # Append to list for concating
    new_dfs.append(df)
    
df = pd.concat(new_dfs, axis=1)

# Add the "id_17" index column
df = df.reset_index()
df = df.rename(columns={"index": "id_18"})

df.tail(2)

Wall time: 2min 44s

,id_18,evi2_04,evi2_05,evi2_06,evi2_07,evi2_08,evi2_09,evi2_10,ndvi_04,ndvi_05,...,ndwi_08,ndwi_09,ndwi_10,savi_04,savi_05,savi_06,savi_07,savi_08,savi_09,savi_10
680696,680696,0.382289,0.502466,0.585929,0.472183,0.332450,0.383176,0.535766,0.613812,0.695167,...,-0.450288,-0.409794,-0.604041,0.401457,0.504958,0.573664,0.480700,0.351693,0.391470,0.537824
680697,680697,0.555507,0.523424,0.345480,0.540571,0.541277,0.529755,0.623325,0.813489,0.710169,...,-0.537728,-0.517121,-0.638270,0.555982,0.521700,0.365789,0.535145,0.527536,0.515883,0.606020

In [16]:
# Save to csv
df.to_csv(f".\\results_monthly\\ZV2018_s2-indices_monthly.csv", index=False)

# 5. Monthly S2-indices for 2019 (DONE)

- Calculate monthly mean
- Interpolate monthly (linear)
- Join all indices into a single file

In [ ]:
import pandas as pd

In [17]:
%%time

suff = "ndvi"
        
src_pth = f".\\results_extracted\\KMRS2019_extracted_{suff}.csv"

df0 = pd.read_csv(src_pth)
df0.tail(3)

Wall time: 4.27 s

,id_19,ndvi_04_01,ndvi_04_06,ndvi_04_11,ndvi_04_16,ndvi_04_21,ndvi_04_26,ndvi_05_01,ndvi_05_06,ndvi_05_11,...,ndvi_09_08,ndvi_09_13,ndvi_09_18,ndvi_09_23,ndvi_09_28,ndvi_10_08,ndvi_10_13,ndvi_10_18,ndvi_10_23,ndvi_10_28
626059,626059,NaN,NaN,NaN,0.363948,0.391153,NaN,0.541706,NaN,NaN,...,NaN,0.544828,NaN,NaN,NaN,0.496529,NaN,NaN,NaN,NaN
626060,626060,NaN,NaN,NaN,0.745655,0.784228,NaN,0.831408,NaN,NaN,...,NaN,0.838207,NaN,NaN,NaN,0.821985,NaN,NaN,NaN,NaN
626061,626061,NaN,NaN,NaN,0.759347,0.793245,NaN,0.854751,0.928058,NaN,...,NaN,0.860950,NaN,NaN,NaN,0.787622,NaN,NaN,NaN,0.201204

In [18]:
%%time

suffs = ["evi2", "ndvi", "ndwi", "savi"]

# Merge all 4 indices into a single file
new_dfs = []
for suff in suffs:
    df = pd.read_csv(f".\\results_extracted\\KMRS2019_extracted_{suff}.csv")
    df = df.drop(columns=["id_19"])
        
    for month in range(4, 11):
        # Find columns containing current band and month
        tmp_cols = [col for col in df.columns if f"{suff}_{month:02}" in col]

        # Append new column name to the list of mean columns
        new_col = f"{suff}_{month:02}"

        # Calculate nanmean
        df[new_col] = df[tmp_cols].mean(axis=1)
        df = df.drop(columns=tmp_cols)
        
    # Interpolate missing values
    df = df.interpolate(limit_direction="both", axis=1)
    
    # Append to list for concating
    new_dfs.append(df)
    
df = pd.concat(new_dfs, axis=1)

# Add the "id_17" index column
df = df.reset_index()
df = df.rename(columns={"index": "id_19"})

df.tail(2)

Wall time: 1min 34s

,id_19,evi2_04,evi2_05,evi2_06,evi2_07,evi2_08,evi2_09,evi2_10,ndvi_04,ndvi_05,...,ndwi_08,ndwi_09,ndwi_10,savi_04,savi_05,savi_06,savi_07,savi_08,savi_09,savi_10
626060,626060,0.484409,0.598327,0.533190,0.473043,0.508076,0.532378,0.515467,0.764941,0.831408,...,-0.579778,-0.586520,-0.574410,0.497957,0.591055,0.535729,0.479961,0.515526,0.540904,0.527305
626061,626061,0.548398,0.518817,0.511586,0.603774,0.550657,0.448364,0.330548,0.776296,0.766565,...,-0.600513,-0.437691,-0.365225,0.547262,0.520515,0.504908,0.592234,0.548558,0.451059,0.338103

In [19]:
# Save to csv
df.to_csv(f".\\results_monthly\\KMRS2019_s2-indices_monthly.csv", index=False)

# 6. Monthly S2-rgbn for 2018 (DONE)

- Check if any nan values
- Calculate monthly mean

In [1]:
import pandas as pd

In [2]:
%%time

src_pth = f".\\results_extracted\\ZV2018_extracted_s2-rgbn.csv"

df0 = pd.read_csv(src_pth)

Wall time: 2.35 s

In [3]:
df0.isnull().values.sum()

8311940

In [4]:
df0.head()

,id_18,blue_04_01,green_04_01,red_04_01,nir_04_01,blue_04_06,green_04_06,red_04_06,nir_04_06,blue_04_11,...,red_10_18,nir_10_18,blue_10_23,green_10_23,red_10_23,nir_10_23,blue_10_28,green_10_28,red_10_28,nir_10_28
0,1,NaN,NaN,NaN,NaN,0.064288,0.071794,0.082091,0.221201,NaN,...,NaN,NaN,0.05411,0.060506,0.036332,0.226466,NaN,NaN,NaN,NaN
1,6,NaN,NaN,NaN,NaN,0.127340,0.166540,0.191350,0.279303,0.128664,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,NaN,NaN,NaN,NaN,0.066896,0.078500,0.069671,0.329958,0.080398,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14,NaN,NaN,NaN,NaN,0.068678,0.084070,0.075739,0.269572,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15,NaN,NaN,NaN,NaN,0.084174,0.099808,0.106000,0.218151,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
%%time

df = df0.copy()

bands = ["blue", "green", "red", "nir"]

new_cols = []
for band in bands:
    for month in range(4, 11):
        # Find columns containing current band and month
        tmp_cols = [col for col in df.columns if f"{band}_{month:02}" in col]

        # Create new column (monthly aggregat)
        new_col = f"{band}_{month:02}"
        new_cols.append(new_col)

        # Calculate nanmean
        df[new_col] = df[tmp_cols].mean(axis=1)
        df = df.drop(columns=tmp_cols)
        
    # Interpolate missing values
    df[new_cols] = df[new_cols].interpolate(limit_direction="both", axis=1)

df.tail(2)

Wall time: 24.6 s

,id_18,blue_04,blue_05,blue_06,blue_07,blue_08,blue_09,blue_10,green_04,green_05,...,red_08,red_09,red_10,nir_04,nir_05,nir_06,nir_07,nir_08,nir_09,nir_10
114626,680695,0.098148,0.098369,0.106222,0.109868,0.100959,0.135556,0.085076,0.115869,0.127216,...,0.113808,0.119238,0.070504,0.280846,0.275949,0.357427,0.344868,0.337228,0.374275,0.319710
114627,680696,0.078821,0.068458,0.081696,0.088035,0.100186,0.156936,0.074538,0.091191,0.092161,...,0.114988,0.145677,0.057124,0.291430,0.384319,0.431675,0.353806,0.316984,0.389487,0.369312

In [6]:
# Save to csv
df.to_csv(f".\\results_monthly\\ZV2018_s2-rgbn_monthly.csv", index=False)

# 7. Monthly S2-rgbn for 2019 (DONE)

- Check if any nan values
- Calculate monthly mean

In [7]:
import pandas as pd

In [8]:
%%time

src_pth = f".\\results_extracted\\KMRS2019_extracted_s2-rgbn.csv"

df0 = pd.read_csv(src_pth)

Wall time: 2.77 s

In [9]:
df0.isnull().values.sum()

7732412

In [10]:
df0.head()

,id_19,blue_04_01,green_04_01,red_04_01,nir_04_01,blue_04_06,green_04_06,red_04_06,nir_04_06,blue_04_11,...,red_10_18,nir_10_18,blue_10_23,green_10_23,red_10_23,nir_10_23,blue_10_28,green_10_28,red_10_28,nir_10_28
0,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.028649,0.052132,0.048982,0.181918
1,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.014702,0.037463,0.031639,0.172813
2,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.027610,0.052395,0.051371,0.174231
3,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.025207,0.048055,0.037621,0.189932
4,20,NaN,NaN,NaN,NaN,0.048147,0.065305,0.073065,0.202176,NaN,...,0.117443,0.199903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
%%time

df = df0.copy()

bands = ["blue", "green", "red", "nir"]

new_cols = []
for band in bands:
    for month in range(4, 11):
        # Find columns containing current band and month
        tmp_cols = [col for col in df.columns if f"{band}_{month:02}" in col]

        # Create new column (monthly aggregat)
        new_col = f"{band}_{month:02}"
        new_cols.append(new_col)

        # Calculate nanmean
        df[new_col] = df[tmp_cols].mean(axis=1)
        df = df.drop(columns=tmp_cols)
        
    # Interpolate missing values
    df[new_cols] = df[new_cols].interpolate(limit_direction="both", axis=1)

df.tail(2)

Wall time: 12.2 s

,id_19,blue_04,blue_05,blue_06,blue_07,blue_08,blue_09,blue_10,green_04,green_05,...,red_08,red_09,red_10,nir_04,nir_05,nir_06,nir_07,nir_08,nir_09,nir_10
111886,626043,0.076883,0.062283,0.079006,0.065905,0.072208,0.063875,0.082664,0.091776,0.072995,...,0.052068,0.034123,0.071814,0.294193,0.319684,0.349071,0.357403,0.362352,0.325792,0.288998
111887,626054,0.094967,0.189993,0.148547,0.065271,0.074709,0.068061,0.068302,0.118399,0.203920,...,0.054275,0.037190,0.071052,0.322206,0.389619,0.335742,0.376359,0.422633,0.365136,0.230635

In [12]:
# Save to csv
df.to_csv(f".\\results_monthly\\KMRS2019_s2-rgbn_monthly.csv", index=False)

# 8. Monthly S1-slc for 2018 (DONE)

- interpolate (not needed, no NaN values exist)
- calculate monthly mean

In [13]:
import pandas as pd

In [14]:
%%time
src_pth = f".\\results_extracted\\ZV2018_extracted_s1-slc.csv"
df0 = pd.read_csv(src_pth)

Wall time: 6.47 s

In [15]:
df0.head(3)

,id_18,SIG_ASC_VH_04_01,SIG_ASC_VV_04_01,SIG_DES_VH_04_01,SIG_DES_VV_04_01,COH_ASC_VH_04_01,COH_ASC_VV_04_01,COH_DES_VH_04_01,COH_DES_VV_04_01,SIG_ASC_VH_04_07,...,COH_DES_VH_10_22,COH_DES_VV_10_22,SIG_ASC_VH_10_28,SIG_ASC_VV_10_28,SIG_DES_VH_10_28,SIG_DES_VV_10_28,COH_ASC_VH_10_28,COH_ASC_VV_10_28,COH_DES_VH_10_28,COH_DES_VV_10_28
0,1,0.021503,0.126817,0.029074,0.135767,0.325658,0.655699,0.287394,0.389680,0.015093,...,0.243379,0.296769,0.018704,0.183421,0.027247,0.176039,0.639720,0.718057,0.285368,0.596231
1,6,0.015046,0.140010,0.033912,0.275071,0.452130,0.693088,0.496829,0.686806,0.013282,...,0.234710,0.273542,0.029935,0.222554,0.030716,0.360910,0.526789,0.756344,0.432395,0.496262
2,7,0.035894,0.143691,0.021788,0.072255,0.375939,0.577064,0.308688,0.392918,0.029127,...,0.322416,0.443817,0.038004,0.182375,0.025519,0.094591,0.426727,0.489559,0.326888,0.441459

In [16]:
%%time

df = df0.copy()

bands = ["SIG_ASC_VH", "SIG_ASC_VV", "SIG_DES_VH", "SIG_DES_VV",
         "COH_ASC_VH", "COH_ASC_VV", "COH_DES_VH", "COH_DES_VV"]

new_cols = []
for band in bands:
    for month in range(4, 11):
        # Find columns containing current band and month
        tmp_cols = [col for col in df.columns if f"{band}_{month:02}" in col]

        # Create new column (monthly aggregat)
        new_col = f"{band}_{month:02}"
        new_cols.append(new_col)

        # Calculate nanmean
        df[new_col] = df[tmp_cols].mean(axis=1)
        df = df.drop(columns=tmp_cols)
        
    # Interpolate missing values
    df[new_cols] = df[new_cols].interpolate(limit_direction="both", axis=1)

df.tail(2)

Wall time: 27.9 s

,id_18,SIG_ASC_VH_04,SIG_ASC_VH_05,SIG_ASC_VH_06,SIG_ASC_VH_07,SIG_ASC_VH_08,SIG_ASC_VH_09,SIG_ASC_VH_10,SIG_ASC_VV_04,SIG_ASC_VV_05,...,COH_DES_VH_08,COH_DES_VH_09,COH_DES_VH_10,COH_DES_VV_04,COH_DES_VV_05,COH_DES_VV_06,COH_DES_VV_07,COH_DES_VV_08,COH_DES_VV_09,COH_DES_VV_10
114626,680695,0.014598,0.013394,0.016686,0.019326,0.018545,0.015113,0.015676,0.068890,0.059672,...,0.307626,0.296194,0.344719,0.493034,0.433941,0.338163,0.373958,0.398039,0.353252,0.429249
114627,680696,0.013845,0.018461,0.023566,0.023250,0.015271,0.017257,0.016163,0.067902,0.071281,...,0.268963,0.240001,0.333157,0.394851,0.284346,0.281456,0.273738,0.320172,0.336079,0.373175

In [17]:
df.isnull().values.any()

False

In [18]:
# Save to csv
df.to_csv(f".\\results_monthly\\ZV2018_s1-slc_monthly.csv", index=False)

# 9. Monthly S1-slc for 2019 (DONE)

- interpolate (not needed, no NaN values exist)
- calculate monthly mean

In [1]:
import pandas as pd

In [2]:
%%time
src_pth = f".\\results_extracted\\KMRS2019_extracted_s1-slc.csv"
df0 = pd.read_csv(src_pth)

Wall time: 9.02 s

In [4]:
df0

,id_19,SIG_ASC_VH_04_01,SIG_ASC_VV_04_01,SIG_DES_VH_04_01,SIG_DES_VV_04_01,COH_ASC_VH_04_01,COH_ASC_VV_04_01,COH_DES_VH_04_01,COH_DES_VV_04_01,SIG_ASC_VH_04_07,...,COH_DES_VH_10_22,COH_DES_VV_10_22,SIG_ASC_VH_10_28,SIG_ASC_VV_10_28,SIG_DES_VH_10_28,SIG_DES_VV_10_28,COH_ASC_VH_10_28,COH_ASC_VV_10_28,COH_DES_VH_10_28,COH_DES_VV_10_28
0,9,0.020135,0.089681,0.025359,0.113961,0.207774,0.317133,0.285005,0.193472,0.022642,...,0.258645,0.318927,0.034445,0.104209,0.024351,0.119893,0.323609,0.297022,0.271154,0.241363
1,12,0.025754,0.110617,0.029655,0.081080,0.278651,0.323784,0.326691,0.291228,0.020280,...,0.375712,0.288501,0.023414,0.083092,0.029539,0.109738,0.396411,0.314191,0.281515,0.288947
2,16,0.022422,0.075263,0.021290,0.100271,0.271585,0.295857,0.254428,0.289573,0.033100,...,0.324967,0.301553,0.026147,0.097996,0.026864,0.097070,0.276506,0.287666,0.283773,0.269461
3,17,0.017207,0.080000,0.016262,0.069721,0.245146,0.430680,0.344166,0.432983,0.024111,...,0.295965,0.379861,0.027318,0.087795,0.016441,0.068130,0.217874,0.339241,0.296483,0.311988
4,20,0.021708,0.168847,0.007068,0.026952,0.407296,0.531577,0.286099,0.324206,0.027762,...,0.386031,0.496983,0.030708,0.280450,0.011857,0.075068,0.546114,0.635276,0.350296,0.533278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111883,626020,0.015365,0.072744,0.015263,0.065089,0.361785,0.567267,0.267726,0.519770,0.019532,...,0.324219,0.363698,0.024014,0.102511,0.026906,0.083139,0.437030,0.463576,0.363200,0.376240
111884,626030,0.011726,0.058560,0.010844,0.048704,0.272215,0.316910,0.258097,0.286819,0.019805,...,0.310912,0.313679,0.025318,0.080994,0.026036,0.101681,0.225057,0.273216,0.267185,0.282929
111885,626042,0.022681,0.121705,0.011598,0.070266,0.271903,0.423134,0.262441,0.391141,0.053226,...,0.286680,0.352370,0.038557,0.164237,0.023545,0.084672,0.272378,0.357639,0.297521,0.326979
111886,626043,0.053472,0.234808,0.022507,0.059021,0.190250,0.535585,0.262182,0.270252,0.058037,...,0.288292,0.326793,0.061846,0.269675,0.018982,0.060183,0.319101,0.346832,0.256712,0.321693
111887,626054,0.013006,0.072728,0.007915,0.038693,0.350579,0.418133,0.279014,0.421297,0.015509,...,0.339224,0.439304,0.030884,0.207175,0.027955,0.094833,0.377051,0.531453,0.315086,0.367979

In [5]:
%%time

df = df0.copy()

bands = ["SIG_ASC_VH", "SIG_ASC_VV", "SIG_DES_VH", "SIG_DES_VV",
         "COH_ASC_VH", "COH_ASC_VV", "COH_DES_VH", "COH_DES_VV"]

new_cols = []
for band in bands:
    for month in range(4, 11):
        # Find columns containing current band and month
        tmp_cols = [col for col in df.columns if f"{band}_{month:02}" in col]

        # Create new column (monthly aggregat)
        new_col = f"{band}_{month:02}"
        new_cols.append(new_col)

        # Calculate nanmean
        df[new_col] = df[tmp_cols].mean(axis=1)
        df = df.drop(columns=tmp_cols)
        
    # Interpolate missing values
    df[new_cols] = df[new_cols].interpolate(limit_direction="both", axis=1)

df.tail(2)

Wall time: 40.4 s

,id_19,SIG_ASC_VH_04,SIG_ASC_VH_05,SIG_ASC_VH_06,SIG_ASC_VH_07,SIG_ASC_VH_08,SIG_ASC_VH_09,SIG_ASC_VH_10,SIG_ASC_VV_04,SIG_ASC_VV_05,...,COH_DES_VH_08,COH_DES_VH_09,COH_DES_VH_10,COH_DES_VV_04,COH_DES_VV_05,COH_DES_VV_06,COH_DES_VV_07,COH_DES_VV_08,COH_DES_VV_09,COH_DES_VV_10
111886,626043,0.050056,0.051430,0.059087,0.049273,0.055110,0.048083,0.053724,0.251358,0.434937,...,0.264037,0.291868,0.270389,0.322807,0.328688,0.314997,0.280889,0.28410,0.271834,0.296080
111887,626054,0.012109,0.019868,0.014314,0.028607,0.023559,0.030132,0.033184,0.066626,0.096489,...,0.268687,0.297658,0.311103,0.468161,0.417019,0.414835,0.271745,0.28277,0.325008,0.380572

In [6]:
df.isnull().values.any()

False

In [7]:
# Save to csv
df.to_csv(f".\\results_monthly\\KMRS2019_s1-slc_monthly.csv", index=False)